<main>
  <img
    *ngIf="movie?.backdrop_path"
    [src]="movie!.backdrop_path | remoteAsset : 1280"
    alt=""
    srcset=""
    class="absolute -z-20 w-full h-[530px] object-cover left-0 -top-[140px] opacity-90 md:h-[650px]"
  />
  <div class="md:flex md:h-[600px]">
    <img
      *ngIf="movie?.poster_path"
      [src]="movie!.poster_path | remoteAsset : 1280"
      alt=""
      srcset=""
      class="w-full h-[450px] rounded-t-md shadow-lg border-b-[5px] border-background-lighter md:border-b-0 md:border-r-[5px] md:rounded-l-md md:rounded-r-none object-center md:h-full"
    />
    <section
      class="w-full flex flex-col justify-end bg-black-background px-4 pt-6 pb-6 rounded-b-md md:rounded-l-none md:rounded-r-md shadow-lg md:justify-center md:px-8"
    >
      <div class="flex justify-between gap-4 font-semibold md:justify-start">
        <h5 *ngIf="movie?.release_date">
          {{ movie!.release_date | yearFormat }}
        </h5>
        <span *ngIf="movie?.runtime">{{ movie!.runtime | timeFormat }}</span>
      </div>
      <div class="mt-6">
        <h3 *ngIf="movie?.title" class="font-semibold text-[26px] leading-7">
          {{ movie!.title }}
        </h3>
        <h4 *ngIf="movie?.tagline" class="mt-2 text-pink-200">
          {{ movie!.tagline }}
        </h4>
        <p *ngIf="movie?.overview" class="mt-4 text-[14px]">
          {{ movie!.overview }}
        </p>
      </div>
      <div class="mt-6">
        <h5 class="font-semibold">Rating:</h5>
        <app-rating
          *ngIf="movie?.vote_average"
          [rating]="movie!.vote_average"
        />
      </div>
      <div class="mt-6">
        <h5 class="font-semibold">Genres:</h5>
        <div *ngIf="movie?.genres" class="flex flex-wrap w-full gap-2">
          <span class="text-[14px]">{{ genres | stringArrayConcat }}</span>
        </div>
      </div>
      <div class="mt-6">
        <h5 class="font-semibold">Directors:</h5>
        <span class="text-[14px]">{{ directors | stringArrayConcat }}</span>
      </div>
    </section>
  </div>
  <section
    class="mt-6 w-full xs:h-[180px] h-[220px] md:h-[480px] rounded-md overflow-hidden"
  >
    <app-youtube-video [videoKey]="trailer?.key || ''" />
  </section>
  <section
    class="w-full flex flex-col justify-end px-4 py-6 mt-6 bg-black-background rounded-md shadow-lg"
  >
    <h4 class="font-semibold text-[26px] mb-4">Actors:</h4>
    <div
      class="flex gap-4 w-full h-full overflow-x-auto overflow-y-hidden pb-4 pr-10 xl:grid xl:grid-cols-4 2xl:grid-cols-5"
    >
      <app-cast-card *ngFor="let cast of casting?.cast" [cast]="cast" />
    </div>
  </section>
  <section
    class="relative w-screen mt-6 px-8 pt-6 pb-6 bg-linen flex flex-col justify-end bottom-0 rounded-t-2xl"
  >
    <div
      class="grid grid-cols-2 md:grid-cols-4 lg:grid-flow-col lg:grid-cols-none gap-6 w-full h-full"
    >
      <div *ngFor="let company of industries" class="w-full h-auto">
        <div
          class="min-h-[50px] h-full w-full flex justify-center items-center rounded-md"
        >
          <img
            [src]="company.logo_path | remoteAsset"
            alt="a"
            class="z-20 relative w-full h-full max-h-[80px] max-w-[100px] object-contain lg:w-fit"
          />
          <!-- <p>{{ company.name }}</p> -->
        </div>
      </div>
    </div>
  </section>
</main>
