@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-background-color: #420516;
  --var-text-white-color: #dbd8e3;
}

html {
  color: white;
  background-color: var(--var-background-color);
  position: relative;
  scroll-behavior: smooth;
}

main,
nav {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 100vw;
}
nav {
  height: 100px;
}
main {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
}

.limited-section {
  max-width: 400px;
}

@media (min-width: 1080px) {
  .limited-section {
    max-width: 980px;
  }
  main,
  nav {
    padding-left: 15% !important;
    padding-right: 15% !important;
  }
}

